In [1]:
a="hello world"
print(a)
print(a[6])
print(a[6:])

hello world
w
world

when  integer to string and conversion to special chracter are done

In [2]:
a=chr(75)
print(a)

K

character to integer

In [3]:
b=ord("G")
print(b)

71

In [4]:
#item to str
s=str(23)
print(s)
type(s)

23

str

In [5]:
s=int(s)
print (s)
type(s)

23

int

#string concatenation

In [6]:
a="hello"
b="world"
print(a+" "+b)

hello world

##to print a long text with the print value

In [7]:
a=10
b=5
sum=a+b
print("sum=",sum)
print(f"sum of {a} and {b} is {sum}")

sum= 15
sum of 10 and 5 is 15

#string multiplacation

In [8]:
a="hii "
print(a*5)

hii hii hii hii hii

In [9]:
x="hey, i am trying my best to be a good data analyst"
x.upper()

'HEY, I AM TRYING MY BEST TO BE A GOOD DATA ANALYST'

In [10]:
x.lower()

'hey, i am trying my best to be a good data analyst'

to arrange a sentence in statement form

In [11]:
x.capitalize()

'Hey, i am trying my best to be a good data analyst'

In [12]:
a="hello how are you"
a.split()

['hello', 'how', 'are', 'you']

In [13]:
a=['hello', 'how', 'are', 'you']
for i in a:
    print(i.capitalize(),end=" ")

Hello How Are You

In [14]:
poem1='''johnny johnny yes papa
eating sugar no papa
telling a lie no papa
open your mouth ha ha ha'''
print(poem1)

johnny johnny yes papa
eating sugar no papa
telling a lie no papa
open your mouth ha ha ha

In [15]:
poem1.count("i")

3

#to split lines in a multi line string

In [16]:
poem.splitlines()

NameError: name 'poem' is not defined

In [ ]:
b=poem.replace("papa","fufaji")
print(b)

NameError: name 'poem' is not defined

In [ ]:
b=poem.replace("papa","fufaji").replace("sugar","poison").replace("no","yes")
print(b)

johnny johnny yes fufaji
eating poison yes fufaji
telling a lie yes fufaji
open your mouth ha ha ha

In [ ]:
a='''Twinkle, twinkle, little star,
How I wonder what you are.
Up above the world so high,
Like a diamond in the sky.
Twinkle, twinkle, little star,
How I wonder what you are!'''
x=a.replace("twinkle","sun").replace("star","moon").replace("wonder","amaze")
print(x)

Twinkle, sun, little moon,
How I amaze what you are.
Up above the world so high,
Like a diamond in the sky.
Twinkle, sun, little moon,
How I amaze what you are!

In [ ]:
a.find("little")

-1

In [ ]:
path=["C:","Users","lenovo","Document"]
print("/".join(path))

C:/Users/lenovo/Document

In [ ]:
main=["hello:","how","are","you"]
print("/".join(main))

hello:/how/are/you

In [ ]:
students={"name":"john",
          "class":"2nd",
          "roll": 21,
          "marks":90}
print(students)

{'name': 'john', 'class': '2nd', 'roll': 21, 'marks': 90}

In [ ]:
#1st method
print(students["name"])
print(students["class"])

john
2nd

In [ ]:
#2nd method
print(students.get("name"))
print(students.get("class"))

john
2nd

In [ ]:
#to add items in a dictionary
students["age"]=20
students["address"]="Downtown"
students["phone"]= 1245785652
print(students)

{'name': 'john', 'class': '2nd', 'roll': 21, 'marks': 90, 'age': 20, 'address': 'Downtown', 'phone': 1245785652}

In [ ]:
for key in students:
    print(key)

name
class
roll
marks
age
address
phone

In [ ]:
for values in students:
    print(students[values])

john
2nd
21
90
20
Downtown
1245785652

In [ ]:
for k, v in students.items():
    print(f"{k} : {v}")

name : john
class : 2nd
roll : 21
marks : 90
age : 20
address : Downtown
phone : 1245785652

In [ ]:
company={ "emp01":{"name":"john","age":27,"dept" : "HR","salary":"32000"},
         "emp02":{"name":"smith","age":37,"dept" : "engineering","salary":"35000"},
        "emp03":{"name":"sarah","age":29,"dept" : "marketing","salary":"38000"}}
print(company)

{'emp01': {'name': 'john', 'age': 27, 'dept': 'HR', 'salary': '32000'}, 'emp02': {'name': 'smith', 'age': 37, 'dept': 'engineering', 'salary': '35000'}, 'emp03': {'name': 'sarah', 'age': 29, 'dept': 'marketing', 'salary': '38000'}}

In [ ]:
print(company["emp01"])

{'name': 'john', 'age': 27, 'dept': 'HR', 'salary': '32000'}

In [ ]:
print(company["emp01"]["age"])

27

In [ ]:
company["emp04"]={"name":"mathew","age":29,"dept" : "finance","salary":"30000"}
company["emp05"]={"name":"mary","age":24,"dept" : "sales","salary":"31000"}
print(company)

{'emp01': {'name': 'john', 'age': 27, 'dept': 'HR', 'salary': '32000'}, 'emp02': {'name': 'smith', 'age': 37, 'dept': 'engineering', 'salary': '35000'}, 'emp03': {'name': 'sarah', 'age': 29, 'dept': 'marketing', 'salary': '38000'}, 'emp04': {'name': 'mathew', 'age': 29, 'dept': 'finance', 'salary': '30000'}, 'emp05': {'name': 'mary', 'age': 24, 'dept': 'sales', 'salary': '31000'}}

### Question 21:
Suppose you have a nested dictionary representing a person's contact information:
```python
contact_info = {
    'name': 'John Doe',
    'phone': {
        'home': '123-456-7890',
        'work': '987-654-3210'
    },
    'email': 'john.doe@example.com'
}
```
Write Python code to extract John's home phone number from the dictionary.

In [ ]:
contact_info = {
    'name': 'John Doe',
    'phone': {
        'home': '123-456-7890',
        'work': '987-654-3210'
    },
    'email': 'john.doe@example.com'}


nested_value=contact_info["phone"]["home"]
print(f"John's home phone number is: {nested_value}")